<html>
<head>
    <title>Blumaps</title>
    {% load static %}  
    <link rel="icon" href="{% static 'icon8.png' %}" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7BWgCzP-RbEa0GiDaBDuDnG5L32c7bi0&callback=initMap" async defer></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: white;
            margin: 0;
            height: 100vh;
            position: relative;
            background-color: rgb(0, 255, 213);
        }
        #background {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('{% static "Logo35.jpeg" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }
        #map {
         height: 700px;
         width: 700px;
         margin-left: auto;
         margin-left: 250px;
         margin-top: 20px;
         margin-bottom: 20px;
         margin-right: auto;
         border: 5px solid white;
         border-radius: 95%;
         display: none
        }
    </style>
</head>
<body class="text-center">
    <div id="background"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Blumaps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="my-profile" class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a id="my-circle" class="nav-link" href="#">Add Inner Circle</a>
                </li>
                <li class="nav-item">
                    <a id="About" class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <p style="font-size: 25px;">Connecting Needs, Ideas, and Interests</p>
    <div class="btn-group-vertical" style="position: absolute; left: 20px; top: 200px; z-index: 100;">
        <button class="btn btn-danger btn-lg mb-3" id="zoom-community">
            Community<br>
            <span style="font-size: small;">Urgent Need</span>
        </button>
        <button class="btn btn-primary btn-lg mb-3" id="zoom-business">
            Commerce<br>
            <span style="font-size: small;">Ideas & Wants</span>
        </button>
        <button class="btn btn-primary btn-lg" id="zoom-inner-circle" style="margin-bottom: 150px;">
            Inner Circle<br>
            <span style="font-size: small;">Family and Friends</span>
        </button>
        <button class="btn btn-danger btn-lg mb-3" id="zoom-community-2"> 
            Community Needs<br>
        </button>
        <button class="btn btn-primary btn-lg mb-3" id="zoom-business-2"> 
            Business Ideas<br>
        </button>
        <button class="btn btn-primary btn-lg mb-3" id="zoom-inner-circle-2">
            Inner Circle interest<br>
        </button>
    </div>
    <div id="map"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="#">Settings</a>
        </div>
    </nav>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
    <script>
  var blueStyles = [
            {
                "stylers": [
                    { "hue": "#0000ff" },
                    { "saturation": 100 }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                    { "lightness": 100 },
                    { "visibility": "simplified" }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [
                    { "visibility": "off" }
                ]
            }
        ];

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8,
                styles: blueStyles,
                mapTypeId: 'terrain'
            });

            if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var userLoc = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            map.setCenter(userLoc);
            map.setZoom(18); // Set zoom level when locating
        }, function() {
            console.error("Error getting location. Using default.");
            map.setZoom(5); // Reset zoom level if geolocation fails
        });
    } else {
        console.error("Browser doesn't support geolocation. Using default.");
    }

            
        }

        function placeMarkerAndPrompt(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var userText = prompt("Insert interest, want or need");
                if (userText) {
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: userText
                    });
                    var infowindow = new google.maps.InfoWindow({
                        content: userText
                    });
                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });
                    sendDataToServer(location.lat(), location.lng(), userText);
                }
            }

        function sendDataToServer(lat, lng, need) {
                fetch('/save_location', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({ latitude: lat, longitude: lng, need: need })
                })
                .then(response => {
                    if (response.headers.get('Content-Type').includes('json')) {
                        return response.json();
                    } else {
                        return response.text().then(text => {
                            throw new Error(text);
                        });
                    }
                })
                .then(data => {
                })
                .catch(error => {
                });
            }
            
        

        function fullFunctionality() {
            initMap();
            google.maps.event.addListener(map, 'click', function(event) {
                placeMarkerAndPrompt(event.latLng);
            });
            sendDataToServer(location.lat(), location.lng(), userText);
        }

        function limitedFunctionality() {
            initMap();
            fetch('/get_existing_data/')
                .then(response => response.json())
                .then(data => {
                    data.forEach(item => {
                        const location = new google.maps.LatLng(item.latitude, item.longitude);
                        const marker = new google.maps.Marker({
                            position: location,
                            map: map,
                            title: item.interest
                        });

                        const infowindow = new google.maps.InfoWindow({
                            content: item.interest
                        });

                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        function showMap() {
        document.getElementById('map').style.display = 'block';
                           }

        document.getElementById('zoom-community').addEventListener('click', function() {showMap(); fullFunctionality();});
        document.getElementById('zoom-business').addEventListener('click', function() {showMap(); fullFunctionality();});
        document.getElementById('zoom-inner-circle').addEventListener('click', function() {showMap(); fullFunctionality();});

        document.getElementById('zoom-community-2').addEventListener('click', function() {showMap(); limitedFunctionality();});
        document.getElementById('zoom-business-2').addEventListener('click', function() {showMap(); limitedFunctionality();});
        document.getElementById('zoom-inner-circle-2').addEventListener('click', function() { showMap();limitedFunctionality();});

        
    </script>
</body>
</html>
